- days = [nil,'monday', 'tuesday','wednesday','thursday','friday']

-#generowanie tabeli
.row.timetable
  #nowline
    #nowlinetext.text-center
  -(0..5).each do |day_num|
    -comercial_date = Date.commercial(@year, @week_num, day_num) unless day_num==0
    .col-xs-2.day{:class => ("today" if comercial_date==Date.today)}
      .weekday
        -if day_num==0
          =link_to "by time", week_time_date_url(@year,@week_num)
          %br
          by people
        -else
          .dayname=raw(days[day_num])
          .daydate=comercial_date
      -now_hour = @start_hour
      -@users.each do |user|
        -if day_num==0
          .hour.text-center
            %span.man
              =user.name
              =user.surname
        -else
          .hour