- start_hour = 7
- end_hour = 22


- days = ['&nbsp;','monday', 'tuesday','wednesday','thursday','friday']


.row.timetable
  #nowline
    #nowlinetext.text-center
  -(0..5).each do |day_num|
    .col-xs-2.day
      .weekday
        .dayname=raw(days[day_num])
        -unless day_num==0
          .daydate=Date.commercial(Date.today.year, Date.today.cweek, day_num)
      -now_hour = start_hour
      -while now_hour <= end_hour
        -if day_num==0
          .hour.text-center
            %span.bighour=now_hour
            %span.smallhour 00
        -else
          .hour
        -now_hour += 1


