- days = ['monday', 'tuesday','wednesday','thursday','friday']
- start_end = ['_start','_end']



-day_counter = 0
-if current_user.admin
  -@dr.each do |request|
    -actuall_week = request.user.default_work_time.week
    -if request.status="pending"
      =request.user.name
      =request.user.surname
      wants to change:
      %br
      -request.week.each do |day|
        -unless day[0] == actuall_week[day_counter][0] and day[1] == actuall_week[day_counter][1]
          %b
            =days[day_counter]
          from
          =actuall_week[day_counter][0]
          =actuall_week[day_counter][1]
          to
          =day[0]
          =day[1]
          %br
        -day_counter+=1
      =request.description
      =request.status
      %br
      =link_to "Accept", default_work_time_accept_url(request.id)
      =link_to "Reject", default_work_time_reject_url(request.id)

%hr
Your default work hours
%hr


-day_counter = 0
.col-xs-6.day
  -@d.week.each do |w|
    %b
      =days[day_counter]
    Start: 
    =w[0]
    %br
    End: 
    =w[1]
    %hr
    -day_counter+=1

.col-xs-6.day
  =form_tag update_work_time_path do
    -(0..4).each do |num| 
      =label_tag "Start"
      =text_field_tag days[num]+start_end[0], @d.week[num][0], size: '4'
      =label_tag "End"
      =text_field_tag days[num]+start_end[1],  @d.week[num][1], size: '4'
      %hr
    =text_area_tag "description", "Description", size: '19'
    =hidden_field_tag "user_id", @d.user_id
    =submit_tag "Send Request"



-if User.find(@d.user_id).default_work_time_request
  -day_count=0
  -d_request=User.find(@d.user_id).default_work_time_request
  %b Your current request:
  %br
  =d_request.description
  %br
  -d_request.week.each do |w|
    .col-xs-2.day
      %b
        =days[day_count]
      %br
      Start: 
      =w[0]
      %br
      End: 
      =w[1]
      -day_count+=1
  .col-xs-2.day
    %b Status:
    =d_request.status
    %br
    %br
    =link_to "Delete", default_work_times_request_path(d_request.id), method: :delete

