%h1 Your default work hours
- if @dr
  - @dr.errors.full_messages.each do |err|
    %li= err

=form_tag update_work_time_path do
  %table.table
    -day_counter = 0
    -@d.week.each do |w|
      %tr
        %td
          %b
            =Days[day_counter]
          %br
          from
          %b=w[0]
          to 
          %b=w[1]
        %td
          =label_tag "from"
          =time_field_tag Days[day_counter]+StartEnd[0], @d.week[day_counter][0], size: '4'
          =label_tag "to"
          =time_field_tag Days[day_counter]+StartEnd[1],  @d.week[day_counter][1], size: '4'
      -day_counter+=1   
  .form-group
    =label_tag "description:"
    =text_area_tag "description", nil, size: '19', :class => "form-control", :placeholder => "description"
  .form-group
    =submit_tag "Send Request", :class => "form-control"

-if @d.user.default_work_time_request
  -day_count=0
  -d_request=@d.user.default_work_time_request
  %h3 Your current request:
  %p=d_request.description
  %table.table
    %tr
    -d_request.week.each do |w|
      %td
        %b
          =Days[day_count]
        %br
        %b=w[0]+' - '+w[1]
        -day_count+=1

  %h4
    Status:
    =d_request.status
  %p=link_to "Delete", default_work_times_request_path(d_request.id), method: :delete, :class => 'btn btn-danger'
  -if d_request.reason
    =d_request.reason

