-if notice
  =notice
%br
Default work hours for : 
%b
  =@d.user.name
  =@d.user.surname
%hr
- days = ['monday', 'tuesday','wednesday','thursday','friday']
- start_end = ['_start','_end']

-day_counter = 0
.col-xs-6.day
  -@d.week.each do |w|
    %b
      =days[day_counter]
    Start: 
    =w[0]
    %br
    End: 
    =w[1]
    %hr
    -day_counter+=1
-day_counter = 0
.col-xs-6.day
  =form_tag update_work_time_path do
    -(0..4).each do |num| 
      =label_tag "Start"
      =text_field_tag days[num]+start_end[0], @d.week[num][0], size: '4'
      =label_tag "End"
      =text_field_tag days[num]+start_end[1],  @d.week[num][1], size: '4'
      %hr
    =text_area_tag "description", "Description", size: '19'
    =hidden_field_tag "user_id", @d.user_id
    =submit_tag "Send Request"

-if @
