%h1 Users List:

%table.table
  %tr
    -@users.each do |user|
      %td
        =user.name
        =user.surname
        -if user.accepted == false
          = link_to "Accept User", user_accept_url(user.id)
        -else
          %td
            %h6 user accepted.