%h1 Profile

%h2=@user.full_name(true)

%h4= @user.email

%ul
  -@user.tags_array.each do |tag|
    %span.label.label-default=tag

%p
  At work:
  =@answer

%p
  The user will be at work:
  -if @hours_plan
    %b=@hours_plan.start_date.strftime('%Y-%-m-%-d %k:%M')
-if @first_common_hour=='nope'
  %p You have no common hours with this user
-else
  %p
    Your first common hour with this user is
    %b=@first_common_hour.strftime('%Y-%-m-%-d %k:%M')

-if current_user.admin or @user.id==current_user.id
  %p= link_to "Edit profile", edit_user_path(@user.id), :class=>"btn btn-default"

