.row#top
  .col-md-6#logo
    = image_tag "logo.png"
    %p
      Tablica
  .col-md-6.text-right#nav
    %ul
      %li
        logged as
        %b Edziu Nowak
      %li
      log out
    %ul
      %li
        My week plan
      %li
        Holidays
      %li
        Raports
      %li
        Calendar