.row#top
  .col-md-5#logo
    =link_to image_tag("logo.png",), root_url
    %p= link_to "#binar-planner", root_url
  .col-md-7.text-right#nav
    %ul
      -if user_signed_in?
        -if current_user.admin
          %li=link_to (raw('<span class="glyphicon glyphicon-envelope"></span>')), inboxs_path
        %li=link_to raw('logged as <b>'+current_user.name+' '+current_user.surname+'</b>'), user_url(current_user.id) #link do profilu użytkownika
        %li=link_to "sign out", destroy_user_session_url, :method => :delete
      -else
        %li=link_to "sign in", new_user_session_url
        %li=link_to "sign up", new_user_registration_url
    -if current_user
      %ul
        %li=link_to "My week plan", week_time_url
        %li=link_to "Holidays", holidays_path
        %li=link_to "Raports", root_url
        -if current_user.default_work_time
          %li=link_to "Default hours", default_work_time_path(current_user.default_work_time.id)
        %li=link_to "Users", users_url
.row
  .col-md-12
    -if flash[:error]
      .alert.alert-danger
        =flash[:error]
    -if flash[:alert]
      .alert.alert-warning
        =flash[:alert]
    -if flash[:notice]
      .alert.alert-success
        =flash[:notice]
