%h2
  Edit your over hours at
  =@hours_plan.start_date.strftime("%Y-%-m-%-d")  

=form_tag('/hours_plans/update/'+@hours_plan.id.to_s) do
  %div.form-group
    =label_tag :over_hours, "over hours"
    =number_field_tag :over_hours, @hours_plan.over_hours, class: "form-control", min: 0, max: 24
  %div.form-group
    =submit_tag "save changes", class: "form-control"

  