%h2 History of raports



%h4  
  
  -raport=@raports.where(user_id: current_user.id.to_s)
  -raport.each do |r|
    %b from 
    =r.date_begin 
    %b to 
    =r.date_end
    =link_to "link", raports_url
    %br

