:css
  #header img { width: 100%; }
  #top { margin: 3mm 12mm; height: 15mm; }
  #binar-logo { margin-top: 2mm; float: left; }
  #binar-logo img { height: 11mm; }
  #planer-logo { float: right; }
  #planer-logo img { height: 15mm; } 
  body { margin: 0; padding: 0; }
  table { width: 95%; margin: 0 auto; }
  h1 { font-weight: light; text-align: center; }
  .small { font-weight: light; text-align: center; font-size: 70%;}
  th, td { padding: 1.5mm; }
  table, th, td { border: 0.2mm solid #170f35; border-collapse: collapse; }

#header
  =wicked_pdf_image_tag("binar_top.png")
#top
  #binar-logo
    =wicked_pdf_image_tag("binar_logo.png")
  #planer-logo
    =wicked_pdf_image_tag("pink_logo.png")

%h1
  Raport from
  =@raport.date_begin
  to
  =@raport.date_end
.small
  Generated
  =Time.now.to_date
%table
  %tr
    %th
      Name
    %th
      Worked
    %th
      Holiday
    %th
      Over hours
  %tr
    %td
      =current_user.name
      =current_user.surname
    %td
      =@raport.work_hours
    %td
      =@raport.holiday_hours
    %td
      =@raport.over_hours
