<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%=@recipient.name%> <%=@recipient.surname%>!</h1>
    <p>
     Your raport is in attachment.
    </p>    
    <p>Have a great day!</p>
  </body>
</html>