<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%=current_user.name%>, <%=current_user.surname%>!</h1>
    <p>
     Your raport from: @raport.date_begin  to: @raport.date_end is HERE.
    </p>    
    <p>Have a great day!</p>
  </body>
</html>