%h1 Stand-up meetings
%form.form-inline#stand-up-meeting-form{method: "get"}
  .form-group
    %input.date-picker.form-control{name: "start_date",placeholder: "start date", value: DateTime.now.strftime("%Y-%m-%d")}
    %select.form-control{name: "period"}
      %option{value: "day"} day meeting
      %option{value: "week"} week meeting
      %option{value: "month"} month meeting 
    %button.btn.btn-default{type: "submit"} find
#stand-up-meetings