/ KOmentar@dr = default work time request
- days = ['monday', 'tuesday','wednesday','thursday','friday']

%b Holidays requests:
%br
-@holiday.each do |holiday|
  -if holiday.status=="pending"
    %b
      =holiday.user.name
      =holiday.user.surname
    From
    =holiday.startdate
    To
    =holiday.enddate
    %br
    Description
    =holiday.description
    %br

    =form_tag holiday_reject_url(holiday.id), method: :get do 
      =label_tag "Description if rejected"
      =text_area_tag "description"
      =link_to "Accept", holiday_accept_url(holiday.id)
      =submit_tag "Reject"
      %br



%hr
%b Default work time requests:
%br 
-@dr.each do |request|
  -day_counter = 0
  -actuall_week = request.user.default_work_time.week
  -if request.status=="pending"
    =request.user.name
    =request.user.surname
    wants to change:
    %br
    -request.week.each do |day|
      -unless day[0] == actuall_week[day_counter][0] and day[1] == actuall_week[day_counter][1]
        %b
          =days[day_counter]
        from
        =actuall_week[day_counter][0]
        =actuall_week[day_counter][1]
        to
        =day[0]
        =day[1]
        %br
      -day_counter+=1
    =request.description
    %br
    =form_tag default_work_time_reject_url(request.id), method: :get do 
      =label_tag "Description if rejected"
      =text_area_tag "description"
      =link_to "Accept", default_work_time_accept_url(request.id)
      =submit_tag "Reject"
      %br