<%= javascript_include_tag "application" %>
= render "shared/headers"
%body
  .container-fluid
    = render "shared/logonavbar"
    .row
      .col-md-6.col-md-offset-3#content
        = yield
    = render "shared/footer"