= render "shared/headers"
%body
  .container-fluid
    = render "shared/logonavbar"
    .row#weekheader
      .col-md-4

      .col-md-4
        bla bla
      .col-md-4
    = yield
    = render "shared/footer"